@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeuePro-SemiExpRegular.eot");
  src: url("../fonts/BebasNeuePro-SemiExpRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeuePro-SemiExpRegular.woff2") format("woff2"), url("../fonts/BebasNeuePro-SemiExpRegular.woff") format("woff"), url("../fonts/BebasNeuePro-SemiExpRegular.ttf") format("truetype"), url("../fonts/BebasNeuePro-SemiExpRegular.svg#BebasNeuePro-SemiExpRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Montserrat', sans-serif; }

body {
  background: #F3F1EB; }

.btn {
  border-radius: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 18px 35px;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .btn-primary {
    color: #393330 !important;
    background: #E0C487; }
    .btn-primary:hover, .btn-primary:active {
      background: #F6B610 !important; }
    .btn-primary:focus {
      background: #E0C487; }
  .btn-secondary {
    color: #645b49;
    padding: 17px 35px;
    border: 1px solid #c0c0c0 !important;
    background: none; }

.form {
  width: 100%; }
  .form__link {
    margin: 15px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .form__link a {
      font-size: 16px;
      color: #645b49; }
  .form__title h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 30px;
    font-family: BebasNeue;
    color: #393330; }
  .form__title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #393330;
    margin: 0 0 40px; }
  .form__title a {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #645b49; }
  .form fieldset,
  .form .fieldset {
    margin: 0 0 30px;
    width: 100%;
    position: relative; }
    .form fieldset [type="text"],
    .form fieldset [type="password"],
    .form .fieldset [type="text"],
    .form .fieldset [type="password"] {
      width: 100%;
      border: 1px solid #ddd;
      height: 50px;
      padding: 0 55px 0 15px;
      font-size: 16px; }
    .form fieldset textarea,
    .form .fieldset textarea {
      width: 100%;
      border: 1px solid #ddd;
      height: 110px;
      padding: 15px;
      font-size: 16px;
      resize: none; }
    .form fieldset .wrong,
    .form .fieldset .wrong {
      color: #B83B33;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4;
      margin: 0 0 8px; }
      .form fieldset .wrong a,
      .form .fieldset .wrong a {
        color: #393330; }
  .form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0px 0 2px; }
    .form__label-check {
      margin: -10px 0 0; }
      .form__label-check input {
        display: none; }
        .form__label-check input:checked + p:after {
          content: '';
          width: 20px;
          height: 20px;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -10px;
          background: url("../images/check.svg") center no-repeat; }
      .form__label-check p {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #393330;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        margin: 0; }
        .form__label-check p:before {
          content: '';
          width: 20px;
          height: 20px;
          border-radius: 2px;
          border: 1px solid #edeae0;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -10px;
          background: #fff; }
    .form__label label {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #a0a0a0; }
    .form__label a {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      color: #645b49; }
    .form__label-pwd {
      cursor: pointer;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
      bottom: 15px;
      background: url("../images/show.svg") center no-repeat; }
      .form__label-pwd.hide {
        background: url("../images/hide.svg") center no-repeat; }

.body__page-form {
  padding-bottom: 30px; }
  .body__page-form fieldset label,
  .body__page-form .fieldset label {
    width: 100%;
    display: inline-block;
    margin: 0 0 25px; }
  .body__page-form fieldset span,
  .body__page-form .fieldset span {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #7b7b7b;
    margin: 0 0 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .body__page-form fieldset span i,
    .body__page-form .fieldset span i {
      margin: 0 0 0 10px;
      width: 16px;
      height: 16px;
      background: #cbb27c;
      color: #fff;
      font-size: 8px;
      font-style: normal;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 8px; }
  .body__page-form fieldset input,
  .body__page-form .fieldset input {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #ddd; }
  .body__page-form fieldset [type="file"],
  .body__page-form .fieldset [type="file"] {
    border: none;
    width: auto;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer; }
    .body__page-form fieldset [type="file"]:hover::-webkit-file-upload-button,
    .body__page-form .fieldset [type="file"]:hover::-webkit-file-upload-button {
      background: #efefef; }
    .body__page-form fieldset [type="file"]::-webkit-file-upload-button,
    .body__page-form .fieldset [type="file"]::-webkit-file-upload-button {
      padding: 0 34px;
      line-height: 48px;
      border: 1px solid #ddd;
      border-radius: 0;
      margin: 0 15px 0 0;
      background: none; }
  .body__page-form fieldset select,
  .body__page-form .fieldset select {
    width: 100%;
    height: 50px;
    background: #FBFBFB;
    border: 1px solid #EDEAE0;
    padding: 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/dds.svg") right 15px center no-repeat; }
  .body__page-form fieldset [type="checkbox"],
  .body__page-form .fieldset [type="checkbox"] {
    display: none; }
    .body__page-form fieldset [type="checkbox"] + p,
    .body__page-form .fieldset [type="checkbox"] + p {
      margin: 15px 0;
      color: #393330;
      padding-left: 35px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      background: url("../images/checkbox.svg") left center no-repeat;
      cursor: pointer; }
    .body__page-form fieldset [type="checkbox"]:checked + p,
    .body__page-form .fieldset [type="checkbox"]:checked + p {
      background: url("../images/checkbox-active.svg") left center no-repeat; }
    .body__page-form fieldset [type="checkbox"][disabled] + p,
    .body__page-form .fieldset [type="checkbox"][disabled] + p {
      background: url("../images/checkbox-disabled.svg") left center no-repeat; }
  .body__page-form h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 20px;
    color: #393330; }
  .body__page-form .checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 10px 0 0; }
    .body__page-form .checkbox input {
      display: none; }
      .body__page-form .checkbox input:checked + p {
        background: url("../images/checkbox-active.svg") left center no-repeat; }
    .body__page-form .checkbox p {
      width: auto;
      margin: 0;
      font-size: 14px;
      padding-left: 32px;
      line-height: 20px;
      background: url("../images/checkbox.svg") left center no-repeat; }
  .body__page-form .text-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 25px; }
    .body__page-form .text-field p {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4; }
    .body__page-form .text-field div {
      min-width: 250px; }
    .body__page-form .text-field a {
      font-size: 14px;
      font-weight: 600;
      line-height: 23px;
      color: #645b49; }
  .body__page-form .file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0 0; }
    .body__page-form .file p {
      padding-left: 30px;
      background: url("../images/file.svg") left center no-repeat;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin: 0 40px 0 0;
      color: #393330; }
      .body__page-form .file p a {
        color: currentColor;
        width: auto;
        height: auto;
        background: none; }
    .body__page-form .file a {
      width: 24px;
      height: 24px;
      background: url("../images/trash.svg") center/contain no-repeat;
      display: inline-block; }
  .body__page-form .ml .btn {
    margin: 0 15px 0 0; }
  .body__page-form .btn {
    margin: 0 0 0 15px; }

.page__wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .page__wrapper-cover {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .page__wrapper-cover .logo {
      position: absolute;
      top: 50px;
      left: 50px; }
  .page__wrapper-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    padding: 50px 35px; }
  .page__wrapper-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%; }
  .page__wrapper-form {
    margin-bottom: 100px; }
    .page__wrapper-form .btn {
      width: 100%;
      margin: 30px 0 0; }
  .page__wrapper-phone a {
    color: #393330;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px; }
  .page__wrapper-phone span {
    margin: 0;
    color: #6c6c6c;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; }
  .page__wrapper-copyright p {
    margin: 0;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px; }

header {
  padding: 0px 35px;
  background: #fff;
  height: 80px;
  min-width: 1200px; }
  header .logo {
    margin: 0 70px 0 0; }
  header .nav:hover li a.active {
    border-color: transparent; }
  header .nav li {
    margin: 0 30px 0 0; }
    header .nav li a {
      line-height: 76px;
      padding: 0 10px;
      color: #393330;
      font-size: 16px;
      font-weight: 600;
      position: relative;
      display: inline-block;
      text-decoration: none !important;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent; }
      header .nav li a:hover, header .nav li a.active {
        border-bottom: 2px solid #393330; }
        header .nav li a:hover:hover, header .nav li a.active:hover {
          border-bottom: 2px solid #393330; }
      header .nav li a i {
        position: absolute;
        font-style: normal;
        font-size: 10px;
        font-weight: 600;
        padding: 4px 6px;
        border-radius: 12px;
        border: 1px solid #fff;
        top: 20px;
        right: -10px;
        color: #fff;
        background: #393330;
        line-height: 1; }
  header .notify {
    line-height: 76px;
    padding: 0 42px 0 10px;
    color: #393330;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    background: url("../images/bell.svg") right 10px center no-repeat;
    text-decoration: none !important;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent; }
    header .notify i {
      position: absolute;
      font-style: normal;
      font-size: 10px;
      font-weight: 600;
      padding: 4px 6px;
      border-radius: 12px;
      border: 1px solid #fff;
      top: 20px;
      right: -10px;
      color: #fff;
      background: #393330;
      line-height: 1; }
    header .notify:hover, header .notify.active {
      border-bottom: 2px solid #393330; }
  header .user {
    background: url("../images/dd.svg") right 50px center no-repeat;
    border-left: 1px solid #dedede;
    color: #fff;
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1;
    height: 80px;
    width: calc(100% + 50px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none !important; }
    header .user.active {
      background: url("../images/du.svg") right 50px center no-repeat; }
    header .user.active + .dd {
      display: inline-block; }
    header .user p {
      margin: 0 0 4px;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: #393330; }
    header .user span {
      color: #6c6c6c;
      font-size: 11px;
      font-weight: 500;
      line-height: 13px;
      letter-spacing: 0.06em; }
  header .dd {
    position: absolute;
    background: #fff;
    padding: 20px 30px;
    z-index: 99;
    left: 15px;
    right: -35px;
    -webkit-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
    display: none; }
    header .dd ul {
      list-style: none;
      margin: 0; }
      header .dd ul li:last-of-type a {
        margin: 0; }
    header .dd a {
      font-size: 14px;
      font-weight: 600;
      color: #000;
      line-height: 1.4;
      margin: 0 0 10px;
      display: inline-block; }

@media (max-width: 1600px) {
  header .notify {
    font-size: 0; }
  header .logo {
    margin: 0 40px 0 0; }
  header .nav li {
    margin: 0 10px 0 0; }
    header .nav li a {
      font-size: 14px; } }

@media (max-width: 1400px) {
  header .logo {
    margin: 0 30px 0 0; }
    header .logo img {
      width: 100px; }
  header .user {
    background: url("../images/dd.svg") right 20px center/15px no-repeat;
    width: 100%; }
    header .user p {
      font-size: 14px; }
  header .nav li {
    margin: 0 10px 0 0; }
    header .nav li a {
      font-size: 13px; }
  .header__page h1 {
    margin: 0 25px 0 0 !important; } }

.notify-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px 60px;
  background: #dccca8;
  min-width: 1270px; }
  .notify-bar p {
    margin: 0 40px 0 0;
    font-size: 14px;
    line-height: 1;
    color: #393330; }
  .notify-bar a {
    font-size: 28px;
    text-decoration: none !important;
    color: #393330; }

.filter__wrapper {
  background: #fff;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 46px 0px #EEEBE599;
  box-shadow: 0px 0px 46px 0px #EEEBE599; }
  .filter__wrapper h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 30px;
    color: #000; }
  .filter__wrapper fieldset {
    width: 100%;
    margin: 0 0 30px; }
  .filter__wrapper label {
    width: 100%;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 2px; }
  .filter__wrapper input {
    width: 100%;
    height: 50px;
    background: #fbfbfb;
    padding: 0 15px;
    border: 1px solid #ddd;
    font-size: 14px; }
  .filter__wrapper select {
    -webkit-appearance: none;
    width: 100%;
    height: 50px;
    background: #fbfbfb url("../images/dds.svg") right 15px center no-repeat;
    padding: 0 15px;
    border: 1px solid #ddd;
    font-size: 14px; }
  .filter__wrapper .btn {
    width: 100%; }

.table__wrapper-container {
  background: #fff;
  padding: 40px 0 20px;
  margin: 0 0 25px; }

.table__wrapper-empty {
  min-height: 700px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 170px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff url("../images/empty.png") right -100px center no-repeat; }
  .table__wrapper-empty h2 {
    font-family: BebasNeue;
    font-size: 42px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0.01em;
    margin: 0 0 15px;
    color: #000; }
  .table__wrapper-empty p {
    color: #393330;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 50px;
    width: 35%; }

.table__wrapper table {
  width: 100%; }
  .table__wrapper table thead tr {
    border-bottom: 1px solid #dedede; }
  .table__wrapper table thead th {
    padding-bottom: 15px;
    color: #383838;
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase; }
    .table__wrapper table thead th:first-of-type {
      padding-left: 40px; }
    .table__wrapper table thead th:last-of-type {
      text-align: right;
      padding-right: 40px; }
  .table__wrapper table tbody tr {
    border-bottom: 1px solid #dedede;
    position: relative; }
    .table__wrapper table tbody tr:last-of-type {
      border-bottom: none; }
    .table__wrapper table tbody tr:hover {
      background: #EDE6D7;
      cursor: pointer; }
      .table__wrapper table tbody tr:hover td {
        padding-top: 25px;
        padding-bottom: 25px; }
    .table__wrapper table tbody tr .new {
      display: inline-block;
      width: 6px;
      height: 6px;
      background: #E0C487;
      border-radius: 6px;
      vertical-align: middle;
      position: absolute;
      left: 17px;
      top: 50%;
      margin-top: -3px; }
  .table__wrapper table tbody td {
    padding: 20px 0;
    color: #393330;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    position: relative; }
    .table__wrapper table tbody td:last-of-type {
      text-align: right;
      padding-right: 40px; }
    .table__wrapper table tbody td:first-of-type {
      padding-left: 40px; }
  .table__wrapper table .action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .table__wrapper table a {
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
    color: #645b49;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 0 20px; }
    .table__wrapper table a img {
      margin: 0 5px 0 0; }
    .table__wrapper table a:hover {
      color: #393330;
      text-decoration: none; }

.table__wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.table__wrapper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .table__wrapper-pagination > a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid #edd; }
    .table__wrapper-pagination > a:hover {
      background: #393330;
      border-color: #393330; }
      .table__wrapper-pagination > a:hover img {
        -webkit-filter: brightness(10);
        filter: brightness(10); }
  .table__wrapper-pagination ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 10px; }
    .table__wrapper-pagination ul a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #0F0933; }
      .table__wrapper-pagination ul a.active {
        background: #393330;
        color: #fff; }
    .table__wrapper-pagination ul span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 30px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #0F0933; }

.sidebar {
  padding-bottom: 0px;
  height: calc(100% - 100px);
  overflow: auto; }
  .sidebar__item {
    padding: 15px 20px 15px 25px;
    border-bottom: 1px solid #dedede;
    display: inline-block;
    width: 100%;
    text-decoration: none !important;
    border-left: 5px solid transparent; }
    .sidebar__item.active {
      border-left-color: #e0c487;
      background: #EDE6D7; }
    .sidebar__item:hover {
      background: #EDE6D7; }
    .sidebar__item p {
      font-size: 14px;
      font-weight: 600;
      line-height: 23px;
      color: #393330;
      margin: 0 0 0px; }
    .sidebar__item span {
      color: #6c6c6c;
      font-size: 11px;
      font-weight: 500;
      line-height: 13px;
      letter-spacing: 0.06em;
      width: 100%;
      display: inline-block; }

.mCSB_inside > .mCSB_container {
  margin-right: 0; }

.mCSB_scrollTools {
  width: 20px;
  opacity: 1; }
  .mCSB_scrollTools .mCSB_draggerRail {
    background: transparent; }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #dedede !important;
    margin: 0; }

.status {
  display: inline-block;
  border-radius: 3px;
  padding: 7px 14px;
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 10px;
  width: auto !important; }
  .status.wait {
    background: #dedede;
    color: #393939; }
  .status.acting {
    background: #4EB833;
    color: #fff; }
  .status.specified {
    background: #E0C487;
    color: #393939; }
  .status.expired {
    background: #B83B33;
    color: #fff; }
  .status.refusal {
    background: #20222B;
    color: #fff; }
  .status.canceled {
    background: #645B49;
    color: #fff; }
  .status.return {
    background: #3388B8;
    color: #fff; }

.sidebar-chat .sidebar__item {
  padding: 15px 35px 15px 25px; }

.sidebar-chat p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .sidebar-chat p i {
    font-style: normal;
    font-size: 11px; }

.sidebar-chat .msg {
  margin: 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .sidebar-chat .msg p {
    font-size: 14px;
    font-weight: 400;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .sidebar-chat .msg i {
    width: 23px;
    height: 23px;
    font-style: normal;
    border-radius: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #393330;
    color: #fff;
    font-size: 11px;
    font-weight: 500; }

.chatbar {
  background: #fff;
  padding: 40px 20px 40px 40px;
  height: 100%; }
  .chatbar .mCustomScrollBox {
    padding-right: 20px !important; }
  .chatbar .mCSB_scrollTools {
    width: 4px; }
  .chatbar__title {
    margin: 0 0 40px; }
    .chatbar__title h3 {
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      margin: 0 0 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .chatbar__title h3 a {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("../images/dl.svg") center no-repeat; }
  .chatbar__order h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin: 0 0 20px; }
  .chatbar__order-item {
    border-bottom: 1px solid #dedede;
    padding-bottom: 30px;
    margin-bottom: 30px; }
    .chatbar__order-item:last-of-type {
      border-bottom: none; }
    .chatbar__order-item strong {
      display: inline-block;
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      margin: 0 0 2px;
      color: #393330; }
    .chatbar__order-item span {
      display: inline-block;
      width: 100%;
      color: #6c6c6c;
      margin: 0 0 15px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; }
    .chatbar__order-item p {
      font-size: 14px;
      font-weight: 600;
      line-height: 23px;
      color: #393330;
      margin: 0 0 20px; }
    .chatbar__order-item div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .chatbar__order-item div .status {
        margin: 0;
        white-space: nowrap; }
      .chatbar__order-item div span {
        color: #645b49;
        font-size: 11px;
        margin: 0 0 0 15px; }

@media (max-width: 1400px) {
  .chatbar {
    padding: 20px 10px 20px 20px; }
    .chatbar .mCustomScrollBox {
      padding-right: 10px !important; }
    .chatbar__title {
      margin: 0 0 30px; }
      .chatbar__title h3 {
        font-size: 15px;
        font-weight: 600;
        line-height: 28px; }
    .chatbar__order h4 {
      font-size: 14px; }
    .chatbar__order-item {
      padding-bottom: 20px;
      margin-bottom: 20px; }
      .chatbar__order-item strong {
        font-size: 14px; }
      .chatbar__order-item span {
        font-size: 12px; }
      .chatbar__order-item p {
        font-size: 12px; }
      .chatbar__order-item div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .chatbar__order-item div .status {
          margin: 0;
          white-space: nowrap; }
        .chatbar__order-item div span {
          color: #645b49;
          font-size: 11px;
          margin: 0 0 0 15px; } }

.chat__wrapper {
  width: 100%;
  padding-bottom: 120px;
  display: inline-block; }
  .chat__wrapper .date {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #6c6c6c;
    font-size: 12px;
    text-transform: uppercase;
    margin: 30px 0 15px; }
  .chat__wrapper .new {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #6c6c6c;
    font-size: 12px;
    text-transform: uppercase;
    margin: 30px 0 15px;
    position: relative; }
    .chat__wrapper .new:before {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #dedede; }
    .chat__wrapper .new span {
      padding: 0 10px;
      background: #fff;
      z-index: 9;
      position: relative; }

.chat__bubble {
  padding: 15px;
  background: #f5f5f5;
  border-radius: 10px 10px 10px 0;
  margin: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 380px;
  float: left;
  clear: both; }
  .chat__bubble.mine {
    float: right;
    background: #dedede;
    border-radius: 10px 10px 0 10px; }
  .chat__bubble p {
    margin: 0 10px 0 0;
    font-size: 14px;
    line-height: 1.4;
    color: #000; }
  .chat__bubble span {
    color: #aaa;
    font-size: 12px;
    line-height: 16px; }
  .chat__bubble .chat-file {
    margin: 0 10px 0 0;
    padding-left: 45px;
    background: url("../images/chat-file.svg") center left no-repeat;
    text-decoration: none !important; }
    .chat__bubble .chat-file p {
      margin: 0;
      line-height: 1.2; }
    .chat__bubble .chat-file span {
      color: #6c6c6c;
      font-weight: 500;
      line-height: 1; }

.chat__form {
  height: 70px;
  border-top: 1px solid #dedede;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 15px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: #fff;
  z-index: 99; }
  .chat__form label {
    margin: 0;
    width: 24px;
    height: 24px;
    margin: 0 16px 0 0; }
    .chat__form label input {
      display: none; }
    .chat__form label p {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin: 0px 0 0;
      background: url("../images/attach.svg") center no-repeat; }
  .chat__form textarea {
    height: 70px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    border: none;
    resize: none;
    padding: 24px 0 0;
    margin: 0 15px 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: overlay; }
  .chat__form .send {
    width: 40px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    height: 40px;
    display: inline-block;
    background: #e0c487 url("../images/send.svg") center no-repeat; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: none; }
  .modal-side {
    background: rgba(61, 47, 35, 0.25); }
    .modal-side .modal-body {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      width: 33%;
      background: #fff;
      padding: 60px;
      overflow: auto; }
  .modal-popup {
    background: rgba(61, 47, 35, 0.25);
    height: 100vh;
    width: 100vw; }
    .modal-popup .modal-container {
      height: 100vh;
      width: 100vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .modal-popup .modal-body {
      padding: 60px 60px 40px;
      background: #fff;
      width: 100%;
      max-width: 650px;
      margin: auto; }
      .modal-popup .modal-body .title {
        margin: 0 0 40px; }
        .modal-popup .modal-body .title h3 {
          font-family: BebasNeue;
          font-size: 32px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0.01em;
          margin: 0; }
      .modal-popup .modal-body .form {
        width: 100%; }
        .modal-popup .modal-body .form fieldset {
          width: 100%; }
        .modal-popup .modal-body .form label {
          width: 100%; }
          .modal-popup .modal-body .form label span {
            margin: 0 0 10px;
            display: inline-block;
            font-size: 16px;
            font-weight: 500; }
      .modal-popup .modal-body .btn {
        margin: 0 15px 0 0; }
  .modal .close {
    opacity: 1;
    font-size: 36px;
    font-weight: 10;
    position: absolute;
    top: 20px;
    right: 20px; }
  .modal form .btn {
    margin: 0 15px 0 0; }
  .modal form fieldset {
    margin: 0 0 30px; }
  .modal form h2 {
    font-family: BebasNeue;
    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 40px; }
  .modal form h4 {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .modal form h4 i {
      margin: 0 0 0 10px;
      width: 16px;
      height: 16px;
      background: #cbb27c;
      color: #fff;
      font-size: 8px;
      font-style: normal;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 8px; }
  .modal form label {
    width: 100%;
    margin: 0 0 15px; }
    .modal form label span {
      width: 100%;
      color: #7B786E;
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin: 0 0 5px; }
    .modal form label select {
      width: 100%;
      height: 50px;
      background: #FBFBFB;
      border: 1px solid #EDEAE0;
      padding: 0 15px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url("../images/dds.svg") right 15px center no-repeat; }
    .modal form label [type="checkbox"] {
      display: none; }
      .modal form label [type="checkbox"] + p {
        margin: 0;
        color: #393330;
        padding-left: 35px;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        background: url("../images/checkbox.svg") left center no-repeat;
        cursor: pointer; }
      .modal form label [type="checkbox"]:checked + p {
        background: url("../images/checkbox-active.svg") left center no-repeat; }
      .modal form label [type="checkbox"][disabled] + p {
        background: url("../images/checkbox-disabled.svg") left center no-repeat; }
    .modal form label [type="date"] {
      width: 100%;
      height: 50px;
      border-radius: 0;
      padding: 0 15px;
      background: #FBFBFB;
      border: 1px solid #DDDDDD; }
      .modal form label [type="date"]::-webkit-calendar-picker-indicator {
        width: 16px;
        height: 16px;
        background-size: contain; }

.container-fluid {
  min-width: 1200px; }

.body__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 100vh; }
  .body__flex main {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    height: calc(100% - 152px); }
    .body__flex main > div {
      height: 100%; }
    .body__flex main .row + .row {
      height: calc(100% - 70px); }
      .body__flex main .row + .row [class*="col"] {
        height: 100%; }

main {
  padding: 40px 35px 40px;
  position: relative; }

.header__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 0 20px; }
  .header__page .excel {
    color: #645b49;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    background: url("../images/export.svg") left top no-repeat;
    padding-left: 32px; }
  .header__page .add-new {
    color: #645b49;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    margin: 0;
    background: url("../images/add.svg") left top no-repeat;
    padding-left: 32px; }
  .header__page h1 {
    margin: 0 50px 0 0;
    font-family: BebasNeue;
    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.01em;
    white-space: nowrap; }
  .header__page .search {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    background: url("../images/search.svg") right center no-repeat;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    height: 50px;
    font-size: 14px;
    padding: 0 50px 0 0;
    -webkit-transition: border .2s linear;
    transition: border .2s linear; }
    .header__page .search:focus {
      border-bottom-color: #393330; }
  .header__page .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    padding: 0 60px;
    color: #6c6c6c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.05em;
    border: 1px solid #c0c0c0;
    margin: 0 0 0 20px; }
    .header__page .filter__wrapper {
      display: none;
      position: absolute;
      right: 15px;
      top: 60px;
      z-index: 99;
      min-width: 420px; }
    .header__page .filter.visible {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .header__page .filter img {
      margin: 0 10px 0 0; }
    .header__page .filter:hover {
      background: #393330;
      border-color: #393330;
      color: #fff;
      text-decoration: none; }
      .header__page .filter:hover img {
        -webkit-filter: brightness(10);
        filter: brightness(10); }

.body__page {
  background: #fff;
  padding: 40px 20px 40px 40px;
  height: 100%;
  width: 100%; }
  .body__page .mCSB_inside > .mCSB_container {
    margin-right: 0;
    padding: 0 20px 0 0; }
  .body__page .mCSB_scrollTools {
    width: 3px;
    opacity: 1; }
    .body__page .mCSB_scrollTools .mCSB_draggerRail {
      background: transparent; }
    .body__page .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      background: #dedede !important;
      margin: 0; }
  .body__page-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 40px; }
    .body__page-title h3 {
      color: #393330;
      margin: 0 0 4px;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px; }
    .body__page-title p {
      color: #6c6c6c;
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0.05em; }
    .body__page-title span {
      display: inline-block;
      width: 100%;
      margin: 0 0 20px;
      font-size: 14px;
      line-height: 1.6;
      color: #6c6c6c; }
    .body__page-title a {
      font-size: 14px;
      font-weight: 600;
      line-height: 23px;
      color: #B83B33; }
    .body__page-title ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin: 0; }
      .body__page-title ul li {
        margin: 0 0 0 30px; }
      .body__page-title ul a {
        color: #645b49;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px; }
        .body__page-title ul a:hover {
          text-decoration: none;
          color: #393330; }
  .body__page-container .fieldset {
    margin: 0 0 50px; }
  .body__page-container .block {
    margin: 0 0 25px; }
    .body__page-container .block strong {
      display: inline-block;
      width: 100%;
      color: #393330;
      font-size: 12px;
      font-weight: 600;
      line-height: 15px;
      letter-spacing: 0.04em;
      margin: 20px 0 20px;
      text-transform: uppercase; }
    .body__page-container .block span {
      color: #6c6c6c;
      display: inline-block;
      margin: 0 0 6px;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      width: 100%; }
    .body__page-container .block .check {
      margin: 6px 0 0;
      padding-left: 25px;
      background: url("../images/check.svg") left center no-repeat;
      font-size: 14px; }
    .body__page-container .block p {
      margin: 0;
      color: #393330;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      width: 80%; }
      .body__page-container .block p.editable {
        padding-right: 20px;
        background: url("../images/edit.svg") right center no-repeat;
        width: auto;
        display: inline-block;
        cursor: pointer; }
    .body__page-container .block.warn span,
    .body__page-container .block.warn p {
      color: #B83B33; }
    .body__page-container .block label input {
      display: none; }
      .body__page-container .block label input + p {
        background: url("../images/checkbox.svg") left center no-repeat;
        padding-left: 30px;
        cursor: pointer;
        width: 100%; }
      .body__page-container .block label input:checked + p {
        background: url("../images/checkbox-active.svg") left center no-repeat; }
  .body__page-container .plus {
    color: #645b49;
    display: inline-block;
    margin: 30px 0 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px; }
  .body__page-header {
    margin: 0 0 55px; }
    .body__page-header strong {
      color: #393330;
      margin: 0 0 15px;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      display: inline-block;
      width: 100%; }
    .body__page-header > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .body__page-header > div .status {
        margin: 0; }
      .body__page-header > div span {
        color: #6c6c6c;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        margin: 0 0 0 15px; }
    .body__page-header a {
      color: #645b49;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: 0.06em;
      display: inline-block;
      margin: 30px 0 0;
      padding-left: 31px;
      background: url("../images/file2.svg") left center no-repeat; }
  .body__page table {
    width: 100%; }
    .body__page table thead th:first-of-type {
      padding-left: 10px; }
    .body__page table thead th:last-of-type {
      text-align: right;
      padding-right: 10px; }
    .body__page table tbody td:last-of-type {
      text-align: right;
      padding-right: 10px; }
    .body__page table tbody td:first-of-type {
      padding-left: 10px; }
  .body__page-spoiler {
    margin: 40px 0 0;
    padding: 40px 0 0;
    border-top: 1px solid #dedede; }
    .body__page-spoiler.closed {
      height: 70px;
      overflow: hidden; }
      .body__page-spoiler.closed .title {
        background: url("../images/close.svg") right center no-repeat; }
    .body__page-spoiler .title {
      cursor: pointer;
      background: url("../images/open.svg") right center no-repeat; }
    .body__page-spoiler .history__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 0 15px; }
      .body__page-spoiler .history__item span {
        color: #6c6c6c;
        font-weight: 14;
        font-weight: 300;
        margin: 0 60px 0 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        min-width: 150px; }
      .body__page-spoiler .history__item p {
        color: #393330;
        font-weight: 14;
        font-weight: 500;
        margin: 0 60px 0 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        min-width: 250px; }
  .body__page-table {
    width: 100%;
    margin: 0 0 50px; }
    .body__page-table .table-body .tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      border-bottom: 1px solid #dedede;
      padding: 20px 0; }
    .body__page-table .table-body .td {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
      font-size: 14px;
      font-weight: 500;
      padding-right: 80px; }
    .body__page-table .table-body label {
      margin: 0; }
    .body__page-table .table-body [type="checkbox"] {
      display: none; }
      .body__page-table .table-body [type="checkbox"] + p {
        margin: 0;
        color: #393330;
        padding-left: 35px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        background: url("../images/checkbox.svg") left center no-repeat;
        cursor: pointer; }
      .body__page-table .table-body [type="checkbox"]:checked + p {
        background: url("../images/checkbox-active.svg") left center no-repeat; }
      .body__page-table .table-body [type="checkbox"][disabled] + p {
        background: url("../images/checkbox-disabled.svg") left center no-repeat; }
    .body__page-table .table-head {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      border-bottom: 1px solid #dedede;
      padding-bottom: 18px; }
      .body__page-table .table-head .th {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        color: #393330;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 500;
        line-height: 20px; }
      .body__page-table .table-head label {
        line-height: 20px;
        margin: 0; }
      .body__page-table .table-head [type="checkbox"] {
        display: none; }
        .body__page-table .table-head [type="checkbox"] + p {
          margin: 0;
          color: #393330;
          padding-left: 35px;
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 500;
          line-height: 20px;
          background: url("../images/checkbox.svg") left center no-repeat;
          cursor: pointer; }
        .body__page-table .table-head [type="checkbox"]:checked + p {
          background: url("../images/checkbox-active.svg") left center no-repeat; }
        .body__page-table .table-head [type="checkbox"][disabled] + p {
          background: url("../images/checkbox-disabled.svg") left center no-repeat; }

.tab-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  margin: 0 0 35px; }
  .tab-link li {
    margin: 0 15px 0 0; }
    .tab-link li.active a {
      border-color: #F1EEE7;
      background: #f1eee7; }
  .tab-link a {
    padding: 9px 30px;
    display: inline-block;
    color: #393330;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #c0c0c0; }
    .tab-link a:hover {
      text-decoration: none;
      background: #f1eee7; }

.tab-content {
  width: 100%; }

.tab-pane {
  display: none;
  width: 100%; }
  .tab-pane.active {
    display: inline-block; }
  .tab-pane .file {
    width: 100%;
    margin: 0 0 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.change__item {
  margin: 0 0 50px; }
  .change__item:last-of-type {
    margin: 0; }
  .change__item strong {
    font-size: 16px;
    font-weight: 600;
    color: #393330;
    line-height: 1.4; }
  .change__item p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0 0 15px;
    color: #6c6c6c; }
  .change__item-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 30px; }
    .change__item-line p {
      color: #393330;
      margin: 0 0px 0 0;
      font-weight: 500; }
    .change__item-line p + p {
      padding: 0 0 0 40px;
      background: url("../images/arrow.svg") 10px center no-repeat; }
  .change__item a {
    background: url("../images/file2.svg") left center no-repeat;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding: 34px;
    color: #645b49;
    text-transform: uppercase; }

footer {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 14px;
  color: #6c6c6c;
  font-weight: 400;
  line-height: 30px; }

@media (max-width: 1600px) {
  .refactor-col .col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .refactor-col .col-3 {
    display: none; }
  .header__page .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

/*# sourceMappingURL=app.css.map */
